$teal                               = #00838F;
$head-bg                            = #e6fdff;
$theme-color                        = $teal;
$theme-color-dark                   = $teal;
$btn-default-bg                     = $teal;
$btn-default-bg-dark                = $teal;

$posts-first-padding                = 10px;

$font-family-base                   = 'PingFang SC', 'Microsoft YaHei UI';
$font-family-headings               = 'PingFang SC', 'Microsoft YaHei UI';
$font-family-posts                  = 'PingFang SC', 'Microsoft YaHei UI';